.stock {
    padding-bottom: 85px;
    &__title {
        font-size: clamp(25px, calcSize(25, 64), 64px);
        @include media(991px) {
            text-align: center;
        }
    }
    &__wrapper {
        margin-top: 50px;
        margin-bottom: 160px;
        padding: clamp(30px, calcSize(30, 60), 60px) clamp(15px, calcSize(15, 60), 60px) 140px;
        background: #FFFBEC;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
        border-radius: 43px;
        position: relative;
    }
    .splide {
        &__slide {
            span {
                font-weight: 600;
                font-size: clamp(25px, calcSize(25, 40), 40px);
                line-height: 119.7%;
            }
            p {
                margin-top: 30px;
                font-size: clamp(15px, calcSize(15, 20), 20px);
                line-height: 157.7%;
                color: #414141;
            }
            &:nth-child(1) {
                max-width: 577px;
            }
            &:nth-child(2) {
                max-width: 766px;
            }
            &:nth-child(3) {
                max-width: 761px;
            }
            &:nth-child(4) {
                max-width: 799px;
            }
        }
        &__arrows {
            display: flex;
            gap: 20px;
            margin-bottom: 30px;
            justify-content: end;
        }
        &__arrow {
            position: initial;
            transform: initial;
            height: initial;
            width: initial;
            opacity: 1;
            &:disabled {
                opacity: 0.5;
            }
        }
        .my-carousel-progress {
            margin-top: 20px;
            background: #eeeeee;
            border-radius: 26px;
        }
        .my-carousel-progress-bar {
            background: #F9D040;
            border-radius: 26px;
            height: 17px;
            transition: width 400ms ease;
            width: 0;
        }
    }
    &__bottom {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        position: absolute;
        margin-top: 50px;
        left: 0;
        &-item {
            background: #FFFFFF;
            border: 1px solid #F5F4F5;
            border-radius: 19px;
            padding: 40px 100px 40px 35px;
            padding: clamp(20px, calcSize(20, 40), 40px) clamp(15px, calcSize(15, 100), 100px) clamp(20px, calcSize(20, 40), 40px) clamp(15px, calcSize(15, 35), 35px);
            span {
                font-weight: 600;
                font-size: clamp(18px, calcSize(18, 24), 24px);
                line-height: 130%;
            }
            p {
                margin-top: 30px;
                font-size: clamp(15px, calcSize(15, 16), 16px);
                line-height: 130%;
                color: #302F2F;
            }
        }
    }
}

@media (max-width: 1399px) {
    .stock__bottom {
        grid-template-columns: repeat(2, minmax(0, 398px));
        justify-content: center;
        left: 0;
        right: 0;
        position: initial;
    }
    .stock__wrapper {
        padding-bottom: 30px;
        margin-bottom: 0;
    }
    
}

@media (max-width: 991px) {
    .stock .splide__slide {
        max-width: initial !important;
    }
}

@media (max-width: 767px) {
    .stock__bottom {
        grid-template-columns: minmax(0, 398px);
    }
}